<nav class="navbar navbar-expand-lg navbar-light">
    <a href="/" class="navbar-brand">
        <div class="row">
            <img src="/img/coracao_vivaz.jpg" alt="Logo da Vivaz Residencial" width="75" height="75">
            <h1>vivaz</h1>
        </div>
    </a>
</nav>

<div class="sticky-whatsapp-btn">
    <a href="https://wa.me/5511958173784?text=Ol%C3%A1,%20poderia%20me%20passar%20os%20empreendimentos%20dispon%C3%ADveis?"
        target="_blank" title="Atendimento via WhatsApp">
        <img width="75" height="75" src="img/whatsapp.png" alt="Atendimento via WhatsApp">
    </a>
</div>