<div class="social-media-banner">
    <div class="container">
        <h4>Siga nas redes sociais</h4>
        <ul>
            <li id="instagram">
                <a href="https://www.instagram.com/sandy.vivazvendas/" target="_blank" title="Link para perfil no Instagram">
                    <img width="50" height="50" src="img/instagram.png" alt="Link para perfil no Instagram">
                </a>
            </li>
            <li id="facebook">
                <a href="https://www.facebook.com/Sandy.vivazvendas/" target="_blank" title="Link para página no Facebook">
                    <img width="50" height="50" src="img/facebook.png" alt="Link para perfil no Facebook">
                </a>
            </li>
        </ul>
    </div>
</div>
