<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img width="50" height="50" src="img/whatsapp.png" alt="" srcset="">
            <p>WhatsApp</p>
        </li>
        <li>
            <img width="50" height="50" src="img/instagram.png" alt="" srcset="">
            <p>Instagram</p>
        </li>
        <li>
            <img width="50" height="50" src="img/facebook.png" alt="" srcset="">
            <p>Facebook</p>
        </li>
    </ul>
</div>