<%- include('partials/header.ejs')%>
    <%- include('partials/navbar.ejs')%>
        <div class="content">
            <div class="container">

                <div class="jumbotron">
                    <h1 class="display-8">Deseja realizar o seu sonho da casa propria?</h1>
                    <p class="lead">Entre em contato para saber mais e tornar isso realidade!</p>
                    <a href="https://wa.me/5511958173784?text=Ol%C3%A1,%20poderia%20me%20passar%20os%20empreendimentos%20dispon%C3%ADveis?"
                        target="_blank" class="btn btn-success">Falar com corretor via WhatsApp</a>
                </div>
            </div>
            <hr>

            <h4 class="products">Empreendimentos Vivaz</h4>
            <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <a href="https://wa.me/c/5511958173784">

                            <img class="d-block w-100" src="/img/emp/prime_belenzinho.jpeg" alt="">

                            <div class="carousel-caption">
                                <h5>Vivaz Prime Belenzinho</h5>
                                <p>
                                    <img src="/img/icone_cama.png" width="20" height="15">
                                    2 ou 3 quartos
                                    <img src="/img/icone_suite.png" width="20" height="15">
                                    Opção de 1 suíte
                                    <img src="/img/icone_garagem.png" width="20" height="15">
                                    Opção de 1 vaga
                                    <img src="/img/icone_varanda.png" width="20" height="15">
                                    Opção de varanda
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://wa.me/c/5511958173784">

                        <img class="d-block w-100" src="/img/emp/vivaz_penha.jpg" alt="">
                        <div class="carousel-caption">
                            <h5>Vivaz Penha</h5>
                            <p>
                                <img src="/img/icone_cama.png" width="20" height="15">
                                1 ou 2 quartos
                                <img src="/img/icone_garagem.png" width="20" height="15">
                                Opção de 1 vaga
                                <img src="/img/icone_varanda.png" width="20" height="15">
                                Opção de varanda
                            </p>
                        </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://wa.me/c/5511958173784">

                        <img class="d-block w-100" src="/img/emp/vivaz_belem.jpg" alt="">
                        <div class="carousel-caption">
                            <h5>Vivaz Estação Belem</h5>
                            <p>
                                <img src="/img/icone_cama.png" width="20" height="15">
                                2 ou 3 quartos
                                <img src="/img/icone_garagem.png" width="20" height="15">
                                Opção de 1 vaga
                                <img src="/img/icone_varanda.png" width="20" height="15">
                                Opção de varanda
                            </p>
                        </div>
                        </a>
                    </div>

                    <div class="carousel-item">
                        <a href="https://wa.me/c/5511958173784">

                        <img class="d-block w-100" src="/img/emp/vivaz_sao_lucas.jpeg" alt="">
                        <div class="carousel-caption">
                            <h5>Lançamento Vivaz São Lucas</h5>
                            <p>
                                <img src="/img/icone_cama.png" width="20" height="15">
                                2 quartos
                                <img src="/img/icone_varanda.png" width="20" height="15">
                                Opção de varanda
                            </p>
                        </div>
                        </a>
                    </div>

                    <div class="carousel-item">
                        <a href="https://wa.me/c/5511958173784">

                        <img class="d-block w-100" src="/img/emp/vivaz_sao_lucas2.jpeg" alt="">
                        <div class="carousel-caption">
                            <h5>Lançamento Vivaz São Lucas</h5>
                            <p>
                                <img src="/img/icone_cama.png" width="20" height="15">
                                2 quartos
                                <img src="/img/icone_varanda.png" width="20" height="15">
                                Opção de varanda
                            </p>
                        </div>
                        </a>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr>

            <div class="profile-content">
                <div class="container">
                    <div class="row profile-row">
                        <div class="col-sm-4 profile-col">
                            <img src="/img/perfil.png" alt="" class="rounded-circle" width="300" height="300">
                        </div>
                        <br>
                        <div class="col-sm-8 bg-custom text-white rounded"><br>
                            <h3>Sandy Alves - Gerente de Vendas</h3>
                            <p>
                                Com mais de 3 anos de experiência no ramo imobiliario.
                            </p>
                            <p>
                                No primeiro semestre de 2021 recebeu a premiação de 3° lugar como corretora, já
                                no primeiro semestre de 2022 recebeu o premio de 1° lugar,
                                e no mesmo ano através do programa Minas de Ouro foi promovida a Gerente de Vendas, e
                                hoje lidera um time de experientes corretores.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="container">
                <div>
                    <h4>Quais são os beneficios?</h4>
                    <ul class="beneficts" style="list-style-type: none">
                        <li>Moradia própria: com ajuda do Casa Verde e Amarela, você pode sair do aluguel e conquistar
                            sua
                            moradia própria.</li>
                        <br>
                        <li>Financiamento facilitado: o programa permite que o pagamento de sua moradia seja feito em
                            até 420
                            meses.</li>
                        <br>
                        <li>Taxa de juros reduzida: os valores ofertados pelo Casa Verde e Amarela são bem menores,
                            quando
                            comparados com o do mercado atual.</li>
                        <br>
                        <li>Subsídio do Governo: uma porcentagem do valor do imóvel é paga pelo Governo.</li>
                    </ul>
                </div>
                <hr>

                <div class="container financiamento">
                    <img src="img/banner_financiamento.jpg">
                    <hr>
                </div>

                <div class="localization">
                    <h4>Localização da Loja</h4>
                    <p>
                        Estamos localizados proximo ao metro, venha visitar nosso decorado!
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="vid/decorado.mp4" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.7023027433!2d-46.589076724094!3d-23.54320737881234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5f2f755fb27d%3A0x7ec2cd4e4609a5b3!2sVivaz%20Prime%20Belenzinho%20-%20Stand!5e0!3m2!1spt-BR!2sbr!4v1691701219936!5m2!1spt-BR!2sbr"
                                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <%- include('partials/social-media.ejs') %>
            <%- include('partials/footer.ejs')%>