h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Poppins', sans-serif;
}

nav h1 {
    color: #960064;
    margin-top: 10px;
}

.navbar-brand {
    margin-left: 1%;
}

.jumbotron {
    text-align: center;
}

.jumbotron .btn {
    box-shadow: 5px 5px #999999;
}

.products {
    text-align: center;
    color: #960064;
}

#carouselIndicators {
    margin-left: 12%;
    width: 75%;
    height: auto;
}

.carousel-caption {
    padding: 0;
    left: 15px;
    right: 0;
    bottom: 0;
    text-align: left;
}

.profile-content {
    background-color: #960064;
}

.rounded-circle {
    border: solid 15px #960064;
    background-color: #ffffff;
}

.bg-custom {
    background-color: #960064;
}

.beneficts > li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url('/img/coracao_vivaz.jpg');
    background-repeat: no-repeat;
    margin-right: 5px;
    background-position: center center;
    vertical-align: middle;
}

.social-media-banner {
    background-color: #960064;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 25px;
}

.social-media-banner li {
    list-style-type: none;
    display: inline;

}

.social-media-banner img{
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 40px;
    margin-left: 20%;
    margin-right: 10%;
    box-shadow: 10px 10px #660044;
}

.sticky-whatsapp-btn {
    position: fixed;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    z-index: 999;
}


/* Mobile  Config*/
@media (max-width: 1200px){
    .navbar ul{
        width: 100%;
        background: white;
        top: 80px;
        left: 0;
        text-align: center;
        display: block;
    }

    #carouselIndicators {
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    #carouselIndicators p{
        display: none;
    }

    .carousel-caption {
        padding: 5px;
        bottom: 0;
        text-align: left;
        left: 5%;
        color: white;
        text-shadow: black 1px 1px;

    }

    #navbarContent {
        z-index: 100;
        position: fixed;
        top: 75px;
        right: 15px;
        width: 60px;
    }

    .col-sm-4 {
        text-align: center;
    }

    .rounded-circle {
        background-color: #ffffff;
    }

    .beneficts > li::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-image: url('/img/coracao_vivaz.jpg');
        background-repeat: no-repeat;
        margin-right: 5px;
        background-position: center center;
        vertical-align: middle;
    }

    .financiamento {
        display: none;
    }

    .nav-link img {
        width: 55px;
        height: 55px;
    }

    .social-media-banner {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .social-media-banner img {
        width: 50px;
        height: 50px;
        margin-left: 13%;
        margin-right: 15%;
        border-radius: 20px;
    }
}
