h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Poppins', sans-serif;
}

nav h1 {
    color: #960064;
    margin-top: 10px;
}

.jumbotron {
    text-align: center;
}

.products {
    text-align: center;
    color: #960064;
}

#carouselIndicators {
    margin-left: 12%;
    width: 75%;
    height: auto;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap:10rem;
}

#navbarContent {
    border: solid gray 2px;
    border-radius: 5px;
}


.rounded-circle {
    border: solid 15px #00f7a5;
    background-color: #ffffff;
}

.beneficts > li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url('/img/coracao_vivaz.jpg');
    background-repeat: no-repeat;
    margin-right: 5px;
    background-position: center center;
    vertical-align: middle;
}

.nav-link img {
    width: 50px;
    height: 50px;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: #777777;
}


/* Social media buttons */
.sticky-container {
    padding: 0;
    margin: 0;
    position: fixed;
    right: -150px; /* Adjusted for 50x50 px icons */
    top: 130px;
    width: 250px; /* Adjusted for 50x50 px icons */
}

.sticky li {
    list-style-type: none;
    color: #000;
    height: 53px; /* Adjusted for 50x50 px icons */
    padding: 0;
    margin: 0 0 1px 0;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.sticky li:hover {
    margin-left: -165px; /* Adjusted for 50x50 px icons */
}

.sticky li img {
    float: left;
    margin: 2px 5px; /* Adjusted for 50x50 px icons */
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.sticky li p {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    line-height: 53px; /* Adjusted for 50x50 px icons */
}


/* Mobile  Config*/
@media (max-width: 1200px){
    .navbar ul{
        width: 100%;
        background: white;
        top: 80px;
        left: 0;
        text-align: center;
        display: block;
    }

    #carouselIndicators {
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    #carouselIndicators p{
        display: none;
    }

    .carousel-caption {
        padding: 5px;
        bottom: 0;
        text-align: left;
        left: 5%;
        color: white;
        text-shadow: black 1px 1px;

    }

    #navbarContent {
        z-index: 100;
        position: fixed;
        top: 75px;
        right: 15px;
        width: 60px;
    }

    .col-sm-4 {
        text-align: center;
    }

    .rounded-circle {
        background-color: #ffffff;
    }

    .beneficts > li::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-image: url('/img/coracao_vivaz.jpg');
        background-repeat: no-repeat;
        margin-right: 5px;
        background-position: center center;
        vertical-align: middle;
    }

    .financiamento {
        display: none;
    }

    .nav-link img {
        width: 55px;
        height: 55px;
    }
}
